# APP
NODE_ENV='DEV'
PORT=5001
NODE_HOST=localhost

# MORGAN 
MORGAN='dev'

# WINSTON
LOG_LEVEL='info'

# MINIO
S3_USERNAME=
S3_PASSWORD=
S3_WEB_PORT=9001
S3_ADMIN_PORT=9000
MINIO_BROWSER=true
AWS_ENDPOINT=http://minio:9000
AWS_SECRET=
AWS_ACCESS=
AWSL_SSL=false
AWS_FORCE_STYLE=true
LINK_IMAGE=http://localhost:9000


# SQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=54333
POSTGRES_HOST=




